// container

@if $grid-container-classes {
    .container {
        @include make-container();
        @include make-container-max-widths();
    }
}

// container fluid 
@if $grid-container-fluid-classes {
    .container-fluid {
        @include make-container();
    }
}

// Row
@if $grid-row-col-classes {
    .row {
        @include make-row();
    }
    @include make-grid-columns();
}



// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

// this customized in UX3 level
// Equalize children height in row, line by line by flexbox
.row__equalize-children-height {
    display: flex;
    flex-wrap: wrap;

    > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    // Targeting safari
    &:before, &:after {
        content: ' ';
        display: flex;
    }
}
